html {
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
    
}
.Container{
    display: flex;
    justify-content: center;
}
.Content{
    width: 750px;
    background-color: antiquewhite;
   
    
}

form{
    padding-left: 10px;
}

.home {
    margin-left: 0px;
    height: 50px;
    display: inline-block;
    width: 100%;
    background-color: rgb(47, 48, 48);
}

.home a {
    margin: 5px 10px;
    color: rgb(234, 233, 242);
    text-decoration: none;
    font-weight: bolder;
}

.home input[type='text'] {
    margin: 2px 175px;
    border-radius: 5px;
}

.home button {
    border: none;
    background-color: rgb(47, 48, 48);
    color: rgb(234, 233, 242);
    font-weight: bolder;
}
input
{
border-radius: 4px;
}
.imgg,h1
{
    padding-left: 10px;
    display:flex;    
}
input[type='submit']:hover {
    background-color: rgb(153, 204, 236);
    color: rgb(47, 48, 48);
}
.link{
    text-decoration: none;
    display: block;
    background-color: rgb(47, 48, 48);
    color: rgb(234, 233, 242);
    height: 30px;
    padding-top: 13px;
    text-align: center;
}
